* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir Medium";
    color: $colorBlack;

}

p {
    font-size: 1.1rem;
    line-height: 1.5;
}

a {
    text-decoration: none !important;
}