@import url(//db.onlinewebfonts.com/c/2090551770be22b09600a40b0b4673b7?family=Avenir+Medium);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir Medium";
    color: $colorBlack;

}

p {
    font-size: 1.1rem;
    line-height: 1.5;
}

a {
    text-decoration: none !important;
}