 @import 'variables';

 .button-transparent {
     padding: 5px 0;
     text-align: center;
     width: 11rem;
     border-radius: 4px;
     border: 1px solid #ffffff;
     font-size: 1.1rem;
     transition: all 0.5s;

     a {
         color: #fff;
         font-size: 1.12em;

     }

     &:hover {
         background: white;
     }

     &:hover a,
     .fas {
         color: $colorBlack !important;

     }

     &:hover .fas {
         transform: translateX(8px);
     }

 }

 .border-black {
     border: 1px solid #4f4f62 !important;

     a {
         color: #4f4f62 !important;
         font-size: 1.12em;


     }


     &:hover a {
         color: black !important;

     }

 }