@import './main';

/* Cards */
.box-volcano {
    border-radius: 8px;
    box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.14);
    background-color: white;
    width: 80%;

    @include respond-to(handhelds) {
        padding: 20px !important;
    }

}

.slika {
    width: 80%;

    img {
        width: 100%;
    }

}



.kartice {

    &>div:nth-child(1) .slika img {

        filter: brightness(90%);
    }

    &>div:last-child .naslov {

        color: #dea149;
    }

    &>div:nth-child(odd) {

        @include respond-to(max-tablet) {
            flex-direction: column !important;
        }

        .box-volcano {
            transform: translateX(-20%);

            @include respond-to(max-navbar) {
                transform: unset !important;
            }

        }

        .slika .cosak {
            width: 40%;

            left: 2%;
            top: 2%;
            z-index: 5;

        }

    }

    &>div:nth-child(even) {
        @include respond-to(max-navbar) {
            flex-direction: column !important;

            .box-volcano {
                transform: unset !important;
            }

            &>div:first-child {
                order: 2;
            }
        }

        margin-left: auto;

        .box-volcano {
            z-index: 4;
            transform: translateX(20%);
        }

        .slika .cosak {
            width: 40%;
            right: 2%;
            top: 2%;
            z-index: 5;

        }
    }
}

.naslov {
    font-size: 2.18em;
    color: #e50019;
    font-weight: 500;


}

.sekcija-volcano {
    opacity: 0;

}