@import './main';

.kontakt {
    width: 40%;
    min-width: 200px;


}

.footer-logo {
    width: 7vw;
    min-width: 50px;
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.footer-vezuv {
    overflow: hidden;
    position: relative;
    height: 50vh;
}

.left {
    transform: translateX(-50%);
}


.right {
    transform: translateX(50%);
}


.kontakt-text {
    opacity: 0.73;
    font-size: 1em;
    text-align: center;
    color: #222222;

    @include respond-to(handhelds) {
        font-size: 0.7em !important;
    }

    @include respond-to(wide-handhelds) {
        font-size: 0.8em !important;
    }

    @include respond-to(tablets) {
        font-size: 0.9em !important;

    }
}