@import './main';

.kontakt {
    width: 40%;
    min-width: 200px;

    @include respond-to(handhelds) {
        margin-bottom: 25px !important;
    }

    @include respond-to(wide-handhelds) {
        margin-bottom: 30px !important;
    }


}

.footer-logo {
    width: 7vw;
    min-width: 50px;
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.footer-vezuv {
    overflow: hidden;
    position: relative;
    height: 50vh;
}

.left {
    transform: translateX(-50%);
}


.right {
    transform: translateX(50%);
}


.kontakt-text {
    opacity: 0.73;
    font-size: 1em;
    text-align: center;
    color: #222222;

    @include respond-to(handhelds) {
        font-size: 0.7em !important;
    }

    @include respond-to(wide-handhelds) {
        font-size: 0.8em !important;
    }

    @include respond-to(tablets) {
        font-size: 0.9em !important;

    }


}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    font-size: 0.9em;
    color: #4f4f62;
}

@media screen and (max-width: 720px) {
    .footer-bottom {
        text-align: center;
        flex-direction: column;
    }

    .footer-bottom div:last-child {
        padding: 0 40%;
        flex-direction: column;
    }

    .footer-vezuv {
        height: auto !important;
    }
}