@import "variables";
@import "main";

@mixin border() {
    display: block;
    content: "";
    border-bottom: solid 1.5px $colorRed;
}

.navbar-toggler {
    padding: 0.15rem 0.55rem;
    outline: none !important;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

.navbar-brand svg {
    min-width: 70px !important;
    width: 100%;
}

// .show {
//     .nav-link {
//         color#000;
//     }
// }

nav {
    // width: 100%;
    // margin: auto;
    // position: relative;

    .nav-item {
        line-height: 19px;
        font-size: 0.88rem;
        text-transform: uppercase;
        margin: 0 8px;

        .nav-link {
            padding: 0.5em 0 !important;
            font-weight: 200;
            color: #ece8e8 !important;

            @include respond-to(handhelds) {
                font-size: 0.6rem !important;
                color: black !important;
                background-color: white;
            }

            @include respond-to(wide-handhelds) {
                font-size: 0.6rem !important;
                color: black !important;
                background-color: white;

            }

            @include respond-to(navbar) {
                font-size: 0.7rem !important;
                color: black !important;
                background-color: white;

            }
        }

        @include respond-to(handhelds) {
            background-color: white;
        }

        @include respond-to(wide-handhelds) {
            background-color: white;

        }

        @include respond-to(tablets) {
            background-color: white;

        }


    }

    .active {
        @include border();
    }
}

.hoverLink::after {
    @include border();
    transform: scaleX(0);
    transition: transform ease-in-out 0.3s;
}

.hoverLink:hover::after {
    transform: scaleX(1);
}

.navbar {
    position: absolute;
    width: 100%;
    margin: auto;
    padding: 10px 5% !important;
    z-index: 3;
}

.navbar-brand {
    width: 10%;

    @include respond-to(handhelds) {
        max-width: 16% !important;
    }

    @include respond-to(wide-handhelds) {
        max-width: 13% !important;
    }

    @include respond-to(tablets) {
        max-width: 12% !important;
    }
}



@media only screen and (max-width: 1199px) {
    .navbar-toggler-clicked {
        background-color: white !important;
        border-bottom: 1px solid;

        .navbar-brand svg .cls-1 {
            fill: $colorBlack;
        }

    }

}

.white-nav {
    background-color: white !important;
    border-bottom: 1px solid rgb(182, 178, 178);
    position: fixed !important;
    top: 0;

    .navbar-brand svg .cls-1 {
        fill: $colorBlack;
    }

    .navbar-collapse .nav-item .nav-link {
        color: $colorBlack !important;
    }

}